%field {
    width: 300px;
    margin-right: 10px;
    border: none;
    background-color: #ebebeb;
    border: 1px solid #0000001f;
}

%btn-style {
    width: 110px;
    height: 23px;
    background: #7c5253;
    border-radius: 15px;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #ffffff;

    &:hover {
        transform: translateY(2px);
    }

    &:active {
        transform: translateY(5px);
    }
}

.productInfo {
    display: flex;
    flex-direction: column;
    width: 444px;
    height: 484px;
    border: 2px solid #333333;
    padding: 46px 71px 10px 40px;
    transition: 0.2s;
    color: var(--dark-blue);
}

.productForm {
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        &:nth-child(1) {
            input {
                font-weight: 400;
                font-size: 25px;
                line-height: 37px;
                letter-spacing: 0.1em;
            }
        }

        &:nth-child(2) {
            input {
                font-weight: 400;
                font-size: 15px;
                line-height: 150%;
            }
        }

        &:nth-child(4) {
            input {
                font-weight: 400;
                font-size: 25px;
                line-height: 120%;
            }
        }
    }

    input {
        @extend %field;
    }

    textarea {
        @extend %field;
        height: 142px;
        font-weight: 400;
        font-size: 25px;
        line-height: 37px;
    }

    button {
        @extend %btn-style;
    }
}

.loaderWrapper {
    position: relative;
    bottom: 34px;
}

.changeIdeasBtn {
    @extend %btn-style;
    width: 181px;
}

@media screen and (max-width: 730px) {
    .productInfo {
        width: 325px;
        padding: 10px;
    }

    %mob-text {
        font-size: 22px;
        line-height: 37px;
    }

    .delivery {
        p,
        li {
            @extend %mob-text;
        }
    }

    .payment {
        p,
        li {
            @extend %mob-text;
        }
    }

    .infoBlock {
        p {
            &:nth-child(4) {
                font-size: 20px;
            }
        }
    }

    .buttonsWrapper {
        flex-direction: column;
    }

    .buttonsBlock {
        justify-content: flex-start;
    }

    .formItem {
        input {
            width: 100%;
        }

        textarea {
            width: 100%;
            font-size: 20px;
            line-height: 26px;
        }
    }
}

@media screen and (max-width: 320px) {
    .productInfo {
        width: 245px;
    }

    .buttonsBlock {
        width: auto;
    }
}
