::-webkit-scrollbar {
    height: 6px;
}

::-webkit-scrollbar-track {
    background-color: var(--metallic);
}

::-webkit-scrollbar-track-piece {
    background-color: var(--metallic);
}

::-webkit-scrollbar-thumb {
    height: 52px;
    background-color: var(--purple);
}

::-webkit-scrollbar-corner {
    background-color: #999;
}

@keyframes slide-anim {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.slider {
    display: flex;
    flex-direction: column;
}

.sliderBlock {
    width: 540px;
    height: 430px;
    margin-bottom: 23px;
}

.slideImg {
    width: 540px;
    height: 430px;
    margin-bottom: 28px;
}

.activeSlide {
    display: block;
    animation: 3s slide-anim cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sliderItems {
    display: flex;
    overflow: auto;
    width: 540px;
    height: 138px;
    padding: 4px 0 0 5px;
    margin-bottom: 20px;
}

%btn-style {
    width: 72px;
    height: 23px;
    background: #7c5253;
    border-radius: 15px;
    font-style: italic;
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #ffffff;

    &:hover {
        transform: translateY(2px);
    }

    &:active {
        transform: translateY(5px);
    }
}

.sliderItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;

    img {
        width: 96px;
        height: 87px;
        margin-bottom: 13px;
    }

    button {
        @extend %btn-style;

        &.hide {
            display: none;
        }
    }
}

.activeItem {
    box-shadow: 0px 1px 8px 0px black;
}

.addingPictureBlock {
    display: flex;

    input {
        width: 457px;
        margin-right: 10px;
        background-color: #ebebeb;
        border: 1px solid #0000001f;
    }

    button {
        @extend %btn-style;

        margin-right: 10px;
    }
}

@media screen and (max-width: 1184px) {
    .slider {
        align-items: center;
        margin-bottom: 24px;
    }

    .sliderItems {
        width: 536px;
    }

    .btnsBlock {
        opacity: 1;

        button {
            opacity: 50%;
        }
    }

    .addingPictureBlock {
        width: 100%;
    }
}

@media screen and (max-width: 730px) {
    .slider {
        width: 350px;
    }

    .sliderBlock {
        width: 100%;
        height: 300px;
    }

    .slideImg {
        width: 100%;
        height: 300px;
    }

    .sliderItems {
        width: 345px;
    }

    .btnsBlock {
        width: 338px;
        top: -198px;

        button {
            width: 50px;
            height: 50px;

            img {
                width: 15px;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .slider {
        width: 245px;
    }

    .sliderItems {
        width: 245px;
        height: 95px;
    }

    .sliderItem {
        width: 80px;
        height: 71px;
    }

    .btnsBlock {
        width: 229px;
    }
}
