.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    padding: 0 25px 0 25px;
    background-color: #c8a183;

    h1 {
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            color: var(--purple);
        }
    }
}

@media screen and (max-width: 1184px) {
    .header {
        height: 93px;
    }

    
}

@media screen and (max-width: 730px) {
    header {
        height: 59px;
    }

   
}

@media screen and (max-width: 320px) {
    header {
        height: 50px;
    }


}
