.productCard {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 99px 0 99px 0;
}

.productCardWrapper {
    display: flex;
    width: 1717px;
    margin: 0 auto;
}

.productCardContent {
    display: flex;
    justify-content: space-between;
    width: 1127px;
    margin-left: 34px;
}