@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap");

:root {
  --beige: #c8a183;
  --dark-blue: #2d2d2d;
  --gray: #d9d9d9;
  --metallic: #9f9f9f;
  --purple: #4f131b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Oswald", "ABeeZee", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebebeb;
  overflow-x: hidden;
}

h1,
h2,
h3,
p,
li {
  font-family: "Oswald", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--dark-blue);
  font-family: "Oswald", sans-serif;
}

button {
  font-family: "Oswald";
  font-style: normal;
  cursor: pointer;
  text-align: center;
  border: none;
  transition: 0.3s;
}

img {
  border-style: none;
  object-fit: cover;
}

ul {
  margin: 0;
  padding: 0;
}

%autofill {
  transition: background-color 600000s 0s, color 600000s 0s;
}

textarea,
input {
  font-family: "Oswald";
  font-style: normal;

  &:-webkit-autofill {
    @extend %autofill;

    &:focus {
      @extend %autofill;
    }
  }
}